.navbar .navbar-nav .nav-link{
	color:white;
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.navbar-toggler{
	background-color: #d27e01;
}
.navbar .navbar-nav .dropdown-item{
	color: white;
}
.navbar .navbar-nav .dropdown-menu a:hover{
	color: black;
}

.navbar .navbar-nav .nav-item .btn{
	background-color: #d27e01;
}
.modal .modal-dialog .modal-content .nav-tabs .nav-link{
	color: #d27e01;
}